[user]
    email = quentin.pradet@gmail.com
    name = Quentin Pradet

[push]
    default = simple

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(blue)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[commit]
    gpgsign = true

[pager]
    log = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
    show = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
    diff = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[interactive]
    diffFilter = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight
[diff]
    compactionHeuristic = true
