[user]
    email = quentin.pradet@gmail.com
    name = Quentin Pradet

[push]
    default = simple
[pull]
    rebase = true

[alias]
    lg = log --graph --pretty=format:'%C(magenta)%G?%C(reset) %Cred%h%Creset %C(cyan)%an%Creset -%C(blue)%d%Creset %s %Cgreen(%cD)%Creset' --abbrev-commit

[pager]
    log = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
    show = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
    diff = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[interactive]
    diffFilter = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight
[diff]
    compactionHeuristic = true

[rebase]
    autostash = true
[stash]
    showPatch = true
[commit]
    gpgsign = true
